{{#.}}
    <tr>
        <td>
            <button data-id="{{id_medico}}" title="Editar" class="btn bg-warning btn-sm on-edit"><i class="fa fa-edit"></i></button>
        </td>
        <td><span class="badge badge-success">ACTIVO</span></td>
        <td>{{numero_documento}}</td>
        <td>{{nombres_apellidos}}</td>
        <td>{{cmp}}</td>
        <td>{{fecha_nacimiento}}</td>
        <td>{{sede}}</td>
        <td>{{especialidad}}</td>
    </tr>
{{/.}}
{{^.}}
    <tr>
        <td colspan="99">
            <p class="text-center">No hay registros que mostrar.</p>
        </td>
    </tr>
{{/.}}