{{#.}}
    <tr>
        <td>
            {{#es_procesable}}
            <button data-id="{{id_medico}}" title="Editar" class="btn bg-warning btn-sm on-edit"><i class="fa fa-edit"></i></button>
            <button data-id="{{id_medico}}" title="Eliminar" class="btn bg-danger btn-sm on-delete"><i class="fa fa-trash"></i></button>
            {{/es_procesable}}
        </td>
        <td  title="{{observacion_rechazo}}"><span class="badge badge-{{estado_color}}">{{estado_descripcion}}</span></td>
        <td>{{nombres_apellidos}}</td>
        <td>{{cmp}}</td>
        <td>{{fecha_nacimiento}}</td>
        <td>{{especialidad}}</td>
        <td>{{celular}}</td>
        <td>{{direccion}}</td>
    </tr>
{{/.}}
{{^.}}
    <tr>
        <td colspan="99">
            <p class="text-center">No hay registros que mostrar.</p>
        </td>
    </tr>
{{/.}}