<tr>
    <td>PACIENTE</td>
    <td>{{paciente}}</td>
</tr>
<tr>
    <td>EDAD</td>
    <td>{{edad_paciente}} AÑOS</td>
</tr>
<tr>
    <td>EXAMEN</td>
    <td><b>{{examen}}</b></td>
</tr>
<tr>
    <td>FECHA</td>
    <td>{{fecha}}</td>
</tr>
<tr>
    <td>MÉDICO</td>
    <td>Dr. {{medico}}</td>
</tr>